@font-face {
    font-family: 'League Spartan';
    src:  url('font/LeagueSpartan-Bold.otf'),
          url('font/leaguespartan-bold-webfont.woff2') format('woff2'),
          url('font/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
video {
  width: 100%;
  height: auto;
}
.d-flex,
.navbar-brand,
.nav a {
  font-family: 'League Spartan', serif;
  color: #F5F5F5;
  text-decoration:none;
}
.mob {
  padding-top: 100px
}
